footer {
    background: rgba(255, 255, 255, 0.1); /* Transparence pour un effet givré */
    backdrop-filter: blur(10px); /* Effet flou */
    -webkit-backdrop-filter: blur(10px); /* Compatibilité pour Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure pour un effet glace */
    color: white;
  }
  
  footer p {
    font-size: 1rem;
    font-weight: bold;
    color: white; /* Couleur de base du texte */
    text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.7), /* Ombre principale sombre */
      0px 0px 10px rgba(255, 255, 255, 0.5); /* Effet lumineux doux autour du texte */
  }

  