/* Style du carrousel avec image de fond */
.carousel-item {
  background-size: contain;
  background-position: center center; /* Centrer l'image */
  height: 500px; /* Hauteur définie pour chaque slide */
  display: flex; /* Permet à la caption de se positionner correctement */
  align-items: center; /* Centre la caption verticalement */
}

/* Assurez-vous que la hauteur du carousel est correcte */
#iphoneCarousel {
  height: 500px; /* Taille de l'ensemble du carrousel */
}

/* Effet givré pour la carte d'appel à l'action */
.frost-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 0.5rem;
}

.frost-effect p {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.7),
      0px 0px 10px rgba(255, 255, 255, 0.5);
}

/* Style pour les cartes des produits */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
