<!-- Section avec une seule image -->
<div id="heroSection" class="position-relative text-white" style="background-image: url('assets/Iphone.jpg'); background-size: cover; background-position: center; height: 100vh;">
  <div class="overlay d-flex flex-column justify-content-center align-items-center text-center h-100 w-100" style="background-color: rgba(0, 0, 0, 0.5);">
    <h1 class="display-4 fw-light">Votre partenaire iPhone</h1>
    <p class="lead">Max-iPhone est votre solution unique pour tout ce qui concerne l'iPhone : achat, réparation, et deals imbattables.</p>
  </div>
</div>

<!-- Call to Action -->
<div class="card my-5 py-4 text-center frost-effect">
  <div class="card-body">
    <p class="m-0">
      Découvrez nos offres exclusives et profitez des meilleurs deals sur les iPhones !
    </p>
  </div>
</div>


<!-- Content Row -->
<div id="servicesSection" class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5" *ngFor="let card of cards">
      <div class="card h-100">
        <img class="card-img-top" [src]="card.image" alt="Card Image" />
        <div class="card-body">
          <h2 class="card-title">{{ card.title }}</h2>
          <p class="card-text">{{ card.text }}</p>
          <p class="badge bg-primary">Réduction: {{ card.discount }}</p>  <!-- Affichage de la réduction -->
        </div>
        <div class="card-footer">
          <a class="btn btn-success" href="https://wa.me/22891983961" target="_blank">
            <i class="fab fa-whatsapp"></i> Contactez-nous sur WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

