<div class="container px-4 px-lg-5">
    <!-- Heading Row -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7">
        <img
          class="img-fluid rounded mb-4 mb-lg-0"
          src="assets/maxiphone.jpg"
          alt="Header Image"
        />
      </div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">Votre partenaire iPhone</h1>
        <p>
          Vente, réparation et deals d'iPhones garantis. Chez Max-iPhone, nous offrons des services de haute qualité 
          adaptés à vos besoins. Que vous cherchiez à acheter le dernier modèle, à réparer un appareil endommagé ou 
          à profiter des meilleurs deals pour un iPhone reconditionné, nous sommes là pour vous.  
          <br><br>
          Faites confiance à notre expertise pour obtenir des conseils personnalisés et une assistance rapide.  
          Notre équipe expérimentée utilise uniquement des pièces d'origine pour garantir la fiabilité de chaque réparation.  
          Nous proposons également des offres attractives et des plans flexibles pour tous les budgets.  
          <br><br>
          Rejoignez les centaines de clients satisfaits qui nous ont choisis pour leur passion pour la qualité et leur 
          engagement envers l'excellence. Découvrez pourquoi nous sommes le partenaire de choix pour tous vos besoins liés à l'iPhone !
        </p>
        
        <a class="btn btn-success" href="https://wa.me/22891983961" target="_blank">
            <i class="fab fa-whatsapp"></i> Contactez-nous sur WhatsApp
          </a>
      </div>
    </div>
  
<!-- Call to Action -->
<div class="card my-5 py-4 text-center frost-effect">
    <div class="card-body">
        <p class="m-0">
            Découvrez nos offres exclusives et profitez des meilleurs deals sur les iPhones !
        </p>
    </div>
</div>

    <!-- Content Row -->
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-5" *ngFor="let card of cards">
        <div class="card h-100">
          <img class="card-img-top" [src]="card.image" alt="Card Image" />
          <div class="card-body">
            <h2 class="card-title">{{ card.title }}</h2>
            <p class="card-text">{{ card.text }}</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-success" href="https://wa.me/22891983961" target="_blank">
                <i class="fab fa-whatsapp"></i> Contactez-nous sur WhatsApp
              </a>
        </div>
      </div>
    </div>
  </div>
  